body {
	font-family: sans-serif;
	font-size: 16px;
}

th{
	
	text-align:center;
	color: #838383;
	font-size: 110%;
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 4px;
	width:150px;

}


td{
	
	text-align:center;
	color: #838383;
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 4px;
	width:150px;

}

table{
	
	border-radius: 3px;
	border: 1px solid #CCC;
	margin: 4px;
}
#MP{
	margin: 20px;
	font-size: 18px;
	width: 100%;
	float: left;
}


