body {
	font-family: sans-serif;
}

#autocomplete-box {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #CCC;
	background-color: #FFF;
	visibility: hidden;
	border-radius: 3px;
}

#search-container {
	width: 100%;
	float: left;
}

#search {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 8px;
}

#recipe {
	position: relative;
	float: left;
	width: 100%;
}

::-webkit-input-placeholder {
	color: #CCC;
	font-style: italic;
}

:-moz-placeholder {
	color: #CCC;
	font-style: italic;
}

::-moz-placeholder {
	color: #CCC;
	font-style: italic;
}

:-ms-input-placeholder {
	color: #CCC;
	font-style: italic;
}

#results {
	position: relative;
	float: left;
	width: 100%;
	max-height: 480px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 8px;
	border-top: 1px solid #CCC;
}

.recipe-name {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 8px;
}

.result-entry {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	min-height: 32px;
	padding: 4px 0 4px 0;
	margin-top: 4px;
}

.result-entry:hover {
	background-color: #f0f0f0;
}

.result-entry:hover .button-add {
	visibility: visible;
}

.product-name {
	position: relative;
	float: left;
	width: 75%;
	height: 100%;
}

.product-price {
	position: relative;
	float: left;
	width: 10%;
	height: 100%;
	color: #838383;
	text-align: center;
}

.product-mass {
	position: relative;
	float: left;
	width: 10%;
	height: 100%;
	color: #838383;
	text-align: center;
}

.button-add {
	position: relative;
	float: left;
	width: 5%;
	height: 100%;
	visibility: hidden;
	color: #CCC;
	text-align: center;
}

.button-add:hover {
	color: #999;
	visibility: visible;
}

#categories-tickboxes {
	position: relative;
	float: left;
	width: 100%;
	max-height: 180px;
	overflow-y: auto;
	overflow-x: hidden;
}

.category-tick {
	position: relative;
	float: left;
	width: 50%;
	padding: 8px;
}

.separator {
	position: relative;
	float: left;
	width: 100%;
	color: #CCC;
	margin: 4px 0 4px 0;
	text-align: center;
}

.shopID {
	display: none;
}

.shopName {
	display: none;
}

#close {
	position: relative;
	float: right;
	margin: 0 4px 0 0;
	color: #CCC;
}

#close:hover {
	color: #999;
}

#products-list {
	position: relative;
	float: left;
	width: 100%;
	height: 320px;
	overflow-y: auto;
	overflow-x: auto;
	float: left;
}

.mass {
	position: relative;
	float: left;
	width: 10%;
}

.unit {
	position: relative;
	float: left;
	width: 10%;
}

.products-mass {
	width: 100%;
}

.container {
	width: 100%;
}

.product-list-entry {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	height: 64px;
	padding: 4px 0 4px 0;
}

.list-product-name {
	position: relative;
	float: left;
	width: 85%;
}

.list-product-price {
	position: relative;
	float: left;
	width: 10%;
	color: #838383;
}

.list-product-mass {
	position: relative;
	float: left;
	width: 100%;
	color: #838383;
}

.button-remove {
	position: relative;
	float: left;
	width: 5%;
	color: #CCC;
}

.button-remove:hover {
	color: #999;
	visibility: visible;
}

.serving-size {
	width: 64px;
}

.asda-price {
	color: #78be20;
}

.sains-price {
	color: #f26334;
}

.tesco-price {
	color: #00539F;
}